DJANGO_ENV=development
SECRET_KEY=sua-secret-key-aqui
ALLOWED_HOSTS=localhost,127.0.0.1
FRONTEND_URL=http://localhost:5173

# PostgreSQL
DB_NAME=observatorio
DB_USER=postgres
DB_PASSWORD=sua-senha-aqui
DB_HOST=localhost
DB_PORT=5432
